In [29]:
import pandas as pd
from itertools import combinations

In [30]:
file_path = "accidents.csv"

In [31]:
df = pd.read_csv(file_path)

In [32]:
df.head()

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
0,1,0,1,1,0,1,70,0,0,1,no-injury
1,1,0,1,0,0,0,55,0,1,0,non-fatal
2,1,0,0,0,0,0,35,0,0,1,no-injury
3,1,0,1,0,0,1,35,0,0,1,no-injury
4,1,0,1,0,0,0,25,0,0,1,non-fatal

In [33]:
df.tail()

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
595,0,0,1,0,1,0,55,1,1,0,no-injury
596,1,0,0,0,1,0,55,1,1,0,no-injury
597,0,0,1,0,1,0,55,1,1,0,no-injury
598,0,0,0,0,1,0,65,1,1,0,non-fatal
599,0,0,0,0,1,0,70,1,1,0,no-injury

In [34]:
df.head(30)

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
0,1,0,1,1,0,1,70,0,0,1,no-injury
1,1,0,1,0,0,0,55,0,1,0,non-fatal
2,1,0,0,0,0,0,35,0,0,1,no-injury
3,1,0,1,0,0,1,35,0,0,1,no-injury
4,1,0,1,0,0,0,25,0,0,1,non-fatal
5,1,0,1,0,0,0,35,0,0,1,non-fatal
6,1,0,1,0,0,0,60,0,0,0,no-injury
7,1,0,1,0,0,1,45,1,1,0,non-fatal
8,0,0,1,1,0,0,55,1,0,0,no-injury
9,1,0,1,1,0,0,70,1,0,0,non-fatal
10,0,0,1,1,0,0,65,1,0,0,no-injury
11,1,0,1,0,0,0,40,1,0,0,non-fatal
12,1,0,1,0,0,0,45,1,0,0,non-fatal
13,1,0,0,0,0,0,45,1,1,0,non-fatal
14,1,0,1,0,0,0,45,1,1,0,no-injury
15,1,0,1,0,0,0,30,1,1,0,non-fatal
16,1,0,1,0,0,0,55,1,1,0,non-fatal
17,1,0,1,0,0,0,55,1,1,0,no-injury
18,1,0,1,0,0,0,25,1,1,0,no-injury
19,0,0,1,0,0,1,35,0,0,1,no-injury
20,0,0,1,0,0,1,35,0,1,1,no-injury
21,0,0,1,0,0,0,25,0,1,1,no-injury
22,0,0,1,0,0,1,45,0,0,1,no-injury
23,1,0,1,0,0,0,35,0,1,1,no-injury
24,0,0,1,0,0,1,55,0,0,1,non-fatal
25,1,0,1,0,0,1,40,0,0,1,no-injury
26,1,0,0,0,0,1,35,0,1,1,non-fatal
27,0,0,0,0,0,1,25,0,1,0,non-fatal
28,0,0,1,0,0,1,25,0,1,1,no-injury
29,0,0,0,0,0,0,55,0,0,1,no-injury

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RushHour         600 non-null    int64
 1   WRK_ZONE         600 non-null    int64
 2   WKDY             600 non-null    int64
 3   INT_HWY          600 non-null    int64
 4   LGTCON_day       600 non-null    int64
 5   LEVEL            600 non-null    int64
 6   SPD_LIM          600 non-null    int64
 7   SUR_COND_dry     600 non-null    int64
 8   TRAF_two_way     600 non-null    int64
 9   WEATHER_adverse  600 non-null    int64
 10  MAX_SEV          600 non-null    object
dtypes: int64(10), object(1)
memory usage: 51.7+ KB

In [36]:
df.describe()

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse
count,600.000000,600.000000,600.000000,600.000000,600.00000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,0.458333,0.011667,0.795000,0.146667,0.73000,0.230000,43.291667,0.785000,0.583333,0.161667
std,0.498677,0.107470,0.404038,0.495545,0.44433,0.421184,12.269508,0.411165,0.493418,0.368452
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,10.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,35.000000,1.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,1.00000,0.000000,40.000000,1.000000,1.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,1.00000,0.000000,55.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,9.000000,1.00000,1.000000,75.000000,1.000000,1.000000,1.000000

In [37]:
df['MAX_SEV']

0      no-injury
1      non-fatal
2      no-injury
3      no-injury
4      non-fatal
         ...
595    no-injury
596    no-injury
597    no-injury
598    non-fatal
599    no-injury
Name: MAX_SEV, Length: 600, dtype: object

In [38]:
df['WKDY']

0      1
1      1
2      0
3      1
4      1
      ..
595    1
596    0
597    1
598    0
599    0
Name: WKDY, Length: 600, dtype: int64

In [39]:
df['LEVEL'].head()

0    1
1    0
2    0
3    1
4    0
Name: LEVEL, dtype: int64

In [40]:
LIST_OF_COLS =['RushHour', 'MAX_SEV']
df[LIST_OF_COLS]

     RushHour    MAX_SEV
0           1  no-injury
1           1  non-fatal
2           1  no-injury
3           1  no-injury
4           1  non-fatal
..        ...        ...
595         0  no-injury
596         1  no-injury
597         0  no-injury
598         0  non-fatal
599         0  no-injury

[600 rows x 2 columns]

In [41]:
df.iloc[3]

RushHour                   1
WRK_ZONE                   0
WKDY                       1
INT_HWY                    0
LGTCON_day                 0
LEVEL                      1
SPD_LIM                   35
SUR_COND_dry               0
TRAF_two_way               0
WEATHER_adverse            1
MAX_SEV            no-injury
Name: 3, dtype: object

In [42]:
df.iloc[0 : 5]

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
0,1,0,1,1,0,1,70,0,0,1,no-injury
1,1,0,1,0,0,0,55,0,1,0,non-fatal
2,1,0,0,0,0,0,35,0,0,1,no-injury
3,1,0,1,0,0,1,35,0,0,1,no-injury
4,1,0,1,0,0,0,25,0,0,1,non-fatal

In [43]:
df.iloc[0:3 , 3]

0    1
1    0
2    0
Name: INT_HWY, dtype: int64

In [44]:
df.loc[6:]

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
6,1,0,1,0,0,0,60,0,0,0,no-injury
7,1,0,1,0,0,1,45,1,1,0,non-fatal
8,0,0,1,1,0,0,55,1,0,0,no-injury
9,1,0,1,1,0,0,70,1,0,0,non-fatal
10,0,0,1,1,0,0,65,1,0,0,no-injury
...,...,...,...,...,...,...,...,...,...,...,...
595,0,0,1,0,1,0,55,1,1,0,no-injury
596,1,0,0,0,1,0,55,1,1,0,no-injury
597,0,0,1,0,1,0,55,1,1,0,no-injury
598,0,0,0,0,1,0,65,1,1,0,non-fatal
599,0,0,0,0,1,0,70,1,1,0,no-injury

In [45]:
df.loc[5:, 'WEATHER_adverse']

5      1
6      0
7      0
8      0
9      0
      ..
595    0
596    0
597    0
598    0
599    0
Name: WEATHER_adverse, Length: 595, dtype: int64

In [46]:
df['MAX_SEV'] =='non-fatal'

0      False
1       True
2      False
3      False
4       True
       ...
595    False
596    False
597    False
598     True
599    False
Name: MAX_SEV, Length: 600, dtype: bool

In [47]:
df[df['MAX_SEV'] =='non-fatal']

,RushHour,WRK_ZONE,WKDY,INT_HWY,LGTCON_day,LEVEL,SPD_LIM,SUR_COND_dry,TRAF_two_way,WEATHER_adverse,MAX_SEV
1,1,0,1,0,0,0,55,0,1,0,non-fatal
4,1,0,1,0,0,0,25,0,0,1,non-fatal
5,1,0,1,0,0,0,35,0,0,1,non-fatal
7,1,0,1,0,0,1,45,1,1,0,non-fatal
9,1,0,1,1,0,0,70,1,0,0,non-fatal
...,...,...,...,...,...,...,...,...,...,...,...
585,0,0,0,0,1,0,45,1,1,0,non-fatal
586,0,0,0,0,1,0,45,1,1,0,non-fatal
593,0,0,0,0,1,0,55,1,1,0,non-fatal
594,1,0,1,0,1,0,55,1,1,0,non-fatal
598,0,0,0,0,1,0,65,1,1,0,non-fatal